---
layout: default
title: Dayne Broderson
---

<div class="well lead">
  I work at <a href="http://gina.alaska.edu">Geographic Information Network of Alaska</a> node at the <a href="http://www.uaf.edu">University of Alaska Fairbanks</a> as one of the <a href="http://gina.alaska.edu/people/fearless-leaders">Fearless Leaders</a> doing project management, facilitation, and technical service management focused around geospatial data, satellite receiption, and <em>stuff</em>.
</div>

<div class="well lead">
  <h2>Writing . . . </h2>
  <ul class="list-unstyled text-left">
    {% for post in site.posts %}
    <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
</div>

<div class="well lead">
  <ul class="list-unstyled">
    {% include projects.html %}
  </ul>
</div>
