<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Dayne <bishop> Broderson" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <!-- TODO:
    <link rel="shortcut icon" href="/assets/favicon.png">
    -->

    <title>{{ page.title }}</title>

    {% include bootstrap.html %}

    <link href="/css/dayne.css" media=screen rel=stylesheet />

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,800' rel='stylesheet' type='text/css'>
</head>

<body>

<div class="container">

  <div class="header">
    <ul class="nav navbar navbar-default nav-pills pull-right col-lg-4">
      <li><a href="/">home</a></li>
      <li><a href="/posts.html">posts</a></li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">topics <span class=spancaret"></span></a>
        <ul class="dropdown-menu">
          {% for topic in site.topics %}
            <li>
              <a href="{{ topic.url }}">{{ topic.title}}</a>
            </li>
          {% endfor %}
        </ul>
      </li>
    </ul>
    <h3><a class="text-muted" href="/">dayne.broderson.org</a></h3>
  </div> <!-- /header -->

  <div class="hero-unit">
    {{ content }}
  </div>

  <div class="footer">
    <div class="row contact">
      <div class="col-xs-6">
        Dayne Broderson <br/>
        broderson@gmail.com </br>
      </div>
      <div class="col-xs-6 pull-right">
        <ul class="pull-right list-unstyled text-right">
          <li><a href="http://github.com/dayne/">github.com/dayne</a></li>
          <li><a href="http://twitter.com/dayne/">twitter.com/dayne</a></li>
          <li><a href="http://picasaweb.com/broderson">picasaweb.com/broderson</a></li>
          <li><a href="http://gina.alaska.edu">gina.alaska.edu</a></li>
      </ul>
      </div>
    </div>
  </div> <!-- /footer -->

  </div> <!-- /container -->

  {% include footer-js.html %}

</body>
</html>
